convert/convert-module/src/main/resources/pattern.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2018 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Файл" type="Файл_Тип"/>
	<xs:complexType name="Файл_Тип">
		<xs:sequence>
			<xs:element name="ЗАПНОНАЛИЧ" type="ЗАПНОНАЛИЧ_Тип"/>
		</xs:sequence>
		<xs:attribute name="ИдЭС"/>
		<xs:attribute name="ТипИнф"/>
		<xs:attribute name="ТелОтпр"/>
		<xs:attribute name="ДолжнОтпр"/>
		<xs:attribute name="ФамОтпр"/>
		<xs:attribute name="ВерсФорм"/>
	</xs:complexType>
	<xs:complexType name="ЗАПНОНАЛИЧ_Тип">
		<xs:sequence>
			<xs:element name="СвНО" type="СвНО_Тип" minOccurs="0"/>
			<xs:element name="СвБанк" type="СвБанк_Тип" minOccurs="0"/>
			<xs:element name="СвПл" type="СвПл_Тип" minOccurs="0"/>
			<xs:element name="Руководитель" type="Руководитель_Тип"/>
		</xs:sequence>
		<xs:attribute name="НомЗапр"/>
		<xs:attribute name="ДатаЗапр"/>
		<xs:attribute name="КодОснов"/>
		<xs:attribute name="ВидЗапр"/>
		<xs:attribute name="ОсновЗапр"/>
		<xs:attribute name="ТипЗапр"/>
		<xs:attribute name="ДатаПоСост"/>
	</xs:complexType>
	<xs:complexType name="СвНО_Тип">
		<xs:attribute name="КодНО"/>
		<xs:attribute name="НаимНО"/>
	</xs:complexType>
	<xs:complexType name="СвБанк_Тип">
		<xs:attribute name="РегНом"/>
		<xs:attribute name="НомФил"/>
		<xs:attribute name="БИК"/>
		<xs:attribute name="НаимБанк"/>
		<xs:attribute name="ИННБанк"/>
		<xs:attribute name="КППБанк"/>
	</xs:complexType>
	<xs:complexType name="СвПл_Тип">
		<xs:sequence>
			<xs:element name="ПФЛ" type="ПФЛ_Тип"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ПФЛ_Тип">
		<xs:sequence>
			<xs:element name="ФИО" type="ФИО_Тип"/>
			<xs:element name="АдрПлат" type="АдрПлат_Тип"/>
		</xs:sequence>
		<xs:attribute name="ИННФЛ"/>
		<xs:attribute name="ДатаРожд"/>
		<xs:attribute name="МестоРожд"/>
		<xs:attribute name="КодДУЛ"/>
		<xs:attribute name="СерНомДок"/>
		<xs:attribute name="ДатаДок"/>
	</xs:complexType>
	<xs:complexType name="АдрПлат_Тип">
		<xs:attribute name="Индекс"/>
		<xs:attribute name="КодРегион"/>
		<xs:attribute name="Район"/>
		<xs:attribute name="Город"/>
		<xs:attribute name="НаселПункт"/>
	</xs:complexType>
	<xs:complexType name="Руководитель_Тип">
		<xs:sequence>
			<xs:element name="ФИО" type="ФИО_Тип"/>
		</xs:sequence>
		<xs:attribute name="КласЧин"/>
	</xs:complexType>
	<xs:complexType name="ФИО_Тип">
		<xs:attribute name="Фамилия"/>
		<xs:attribute name="Имя"/>
		<xs:attribute name="Отчество"/>
	</xs:complexType>
</xs:schema>
